<% include admin-header %>
  <!--start sidebar -->
  <aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
      <div>
        <img src="/images/logo-fix.png" class="logo-icon" alt="logo icon">
      </div>
      <div>
        <h4 class="logo-text">HP</h4>
      </div>
      <div class="toggle-icon ms-auto"> <i class="bi bi-list"></i>
      </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
      <li>
        <a href="/products">
          <div class="parent-icon"><i class="bi bi-box-seam"></i>
          </div>
          <div class="menu-title">Sản phẩm</div>
        </a>
      </li>
      <li>
        <a href="/add-product">
          <div class="parent-icon"><i class="bi bi-bag-plus-fill"></i>
          </div>
          <div class="menu-title">Thêm sản phẩm</div>
        </a>
      </li>
      <li>
        <a href="/customer">
          <div class="parent-icon"><i class="bi bi-file-person"></i>
          </div>
          <div class="menu-title">Khách hàng</div>
        </a>
      </li>
    <li>
        <a href="/email">
          <div class="parent-icon"><i class="bi bi-envelope"></i>
          </div>
          <div class="menu-title">Email</div>
        </a>
      </li>
      <li>
        <a href="/add-blog">
          <div class="parent-icon"><i class="bi bi-bookmark-plus"></i>
          </div>
          <div class="menu-title">Thêm blog</div>
        </a>
      </li>
      <li>
        <a href="/admin-blog">
          <div class="parent-icon"><i class="bi bi-book"></i>
          </div>
          <div class="menu-title">Blog</div>
        </a>
      </li>
    </ul>
    </aside>

  <!--end sidebar -->
  <main class="page-content">
    <p class="h1">Hi, this page for admin</p>
  </main>
<!--end wrapper-->


<!-- Bootstrap bundle JS -->
<script src="/javascripts/js/bootstrap.bundle.min.js"></script>
<!--plugins-->
<script src="/javascripts/js/jquery.min.js"></script>
<script src="/javascripts/plugins/simplebar/js/simplebar.min.js"></script>
<script src="/javascripts/plugins/metismenu/js/metisMenu.min.js"></script>
<script src="/javascripts/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<script src="/javascripts/js/pace.min.js"></script>
<!--app-->
<script src="/javascripts/js/app.js"></script>


</body>

</html>