    <!--footer area start-->
    <footer class="footer_widgets">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="widgets_container contact_us">
                            <h3>Opening Time</h3>
                            <p>Open all day, seven days a week.</p>
                            <p><b>We Work All The Holidays</b></p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="widgets_container widget_app">
                            <div class="footer_logo">
                                <a href="/"><img src="/images/img/logo/logo-fix.png" alt=""></a>
                            </div>
                            </div>
                            <div class="footer_social">
                                <ul>
                                    <li><a href="https://www.facebook.com/hppots/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="https://twitter.com/hppots_vn"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.instagram.com/hppots/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="widgets_container widget_menu">
                            <h3>Information</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="/contact">Shop</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                    <li><a href="/about">About us</a></li>
                                    <li><a href="/blog">Blog</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="copyright_area">
                            <p class="copyright-text">&copy; 2021 <a href="/">HP</a>. Made with <i
                                    class="fa fa-heart text-danger"></i> by <a href="mailto: dangtthuynhi@gmail.com"
                                    target="_blank">DangTThuyNhi</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer area end-->
    
